{% extends "base.html" %}
{% load staticfiles %}
{% block sidebar %}
{% spaceless %}

{% endspaceless%}
{% endblock %}


{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-body">
            <h2 class="media-heading">Overwatch Server</h2>settings of overwatch server ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Server</h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
        <table id="server_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
            <thead>
                <tr>
                    <th>Last Modified</th>
                    <th>Server IP</th>
                    <th>Server Port</th>
                    <th>Operations</th>
            </thead>
            <tbody>
                {% for server in servers %}
                <tr>
                    <td>{{ server.last_modified }}</td>
                    <td>{{ server.server_ip }}</td>
                    <td>{{ server.server_port }}</td>
                    <td>
                        <div class="btn-group1">
                            <a class="btn btn-small" rel="tooltip" data-placement="left" data-original-title="Edit" href="{% url 'owservers:edit_server' %}">
                                <i class="fa fa-edit"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endspaceless%}
{% endblock%}

{% block javascript %}

{% endblock%}
