{% extends "base.html" %}
{% load staticfiles %}
{% block sidebar %}
{% spaceless %}

{% endspaceless%}
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-body">
            <h2 class="media-heading">Overwatch Clients</h2>list of registered overwatch agents ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Client List</h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
        <table id="uri_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
            <thead>
                <tr>
                    <th>Last Modified</th>
                    <th>Hostname</th>
                    <th>Alive Time</th>
                    <th>Operations</th>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.last_modified }}</td>
                    <td>{{ client.hostname }}</td>
                    <td>{{ client.alive_time }}</td>
                    <td>
                        <div class="btn-group1">
                            <a class="btn btn-small" rel="tooltip" data-placement="left" data-original-title="Edit" href="#">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-small" rel="tooltip" data-placement="left" data-original-title="Deploy" href="#">
                                <i class="fa fa-arrow-circle-down"></i>
                            </a>
                            <a class="btn btn-small" rel="tooltip" data-placement="left" data-original-title="Scan" href="#">
                                <i class="fa fa-undo"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endspaceless%}
{% endblock%}

{% block javascript %}

{% endblock%}
