{% extends "base.html" %}
{% load staticfiles %}
{% block sidebar %}
{% spaceless %}

{% endspaceless%}
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-body">
            <h2 class="media-heading">Overwatch Base</h2>observe items that recently changed or were added ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Overview</h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
        <table id="tasks_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
            <tr><td>Total Clients</td><td>{{ num_clients }}</td></tr>
            <tr><td>Recent Findings</td><td>{{ num_hits }}</td></tr>
        </table>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Recent Tasks</h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
        <table id="tasks_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Host</th>
                    <th>Type</th>
                    <th>Status</th>
            </thead>
            <tbody>
                {% for scan in scans %}
                <tr>
                    <td>{{ scan.scan_time }}</td>
                    <td>{{ scan.scan_client.hostname }}</td>
                    <td>{{ scan.scan_type }}</td>
                    <td>
                        {% if scan.scan_status == 'finished' %}
                            <a href="{% url 'owclients:view_scan_results' hostname=scan.scan_client.hostname scanid=scan.id %}">{{ scan.scan_status }}</a>
                        {% else %}
                            {{ scan.scan_status }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endspaceless%}
{% endblock%}

{% block javascript %}

{% endblock%}
